@keyframes slide {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
}
@keyframes piscar {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
@keyframes mailSlide {
  0% {
    left: 20%;
  }
  100% {
    left: 60%;
  }
  
}
@keyframes pageSlide {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}